{% extends 'portfolio/base.html' %}
{% block title %} Mutual fund investment {% endblock %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="row"></div>
        <br/>
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1">
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <h5>{{ mutualfund.mutual_fund_global.mf_name }}</h5>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-5 col-xs-5 col-sm-5">
                <a href="{{ mutualfund.mutual_fund_global.holdings_url }}">View all holdings </a><i class="fa fa-external-link"
                                                                                 aria-hidden="true"></i>
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-5 col-xs-5 col-sm-5">
                <b>Total invested amount : </b>{{ mutualfund.amount|intcomma }}
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-5 col-xs-5 col-sm-5">
                <b>Last invested date : </b>{{ mutualfund.last_transaction_date }}
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6"></div>
            <div class="col-md-2 col-xs-2 col-sm-2">
                <a href="{% url 'portfolioMFEdit' mutualfund.pk %}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                {% comment %}<a href="{% url 'mfDelete' mutualfund.pk %}">
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </a>{% endcomment %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-xs-11 col-sm-11">
                <h5 class="round3" style="text-align:center;">Systematic Investment Plans</h5>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-xs-4 col-sm-4"><h6>Mutual Fund</h6></div>
            <div class="col-md-2 col-xs-2 col-sm-2" style="text-align:right"><h6>Amount</h6></div>
            <div class="col-md-2 col-xs-2 col-sm-2"><h6>Start Date</h6></div>
            <div class="col-md-2 col-xs-2 col-sm-2"><h6>Last Transaction</h6></div>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>
        {% for sip in mutualfund.active_sips %}
            <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-4"><a
                        href="{% url 'portfolioMFDetail' sip.mutual_fund.pk %}">{{ sip.mutual_fund.mutual_fund_global.mf_name }}</a> <span
                        class="badge"></span></div>
                <div class="col-md-2 col-xs-2 col-sm-2"
                     style="text-align:right">{{ sip.amount|intcomma }}</div>
                <div class="col-md-2 col-xs-2 col-sm-2">{{ sip.start_date }}</div>
                <div class="col-md-2 col-xs-2 col-sm-2">{{ sip.last_transaction_date }}</div>
                <div class="col-md-1 col-xs-1 col-sm-1">

                    <a href="{% url 'sipDetail' sip.pk %}">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </a>

                    <a href="{% url 'sipEdit' sip.pk %}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>

                </div>
            </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}