{% extends 'portfolio/base.html' %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-xs-9 col-sm-9">
                <h5 class="round3" style="text-align:center;">Mutual Funds</h5>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-xs-4 col-sm-4"><h6>Mutual Fund</h6></div>
            <div class="col-md-2 col-xs-2 col-sm-2" style="text-align:right"><h6>Amount</h6></div>
            <div class="col-md-2 col-xs-2 col-sm-2"><h6>Last Transaction</h6></div>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>

        {% for mutual_fund in mf_list %}
            <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-4"><a
                        href="{% url 'portfolioMFDetail' mutual_fund.pk %}">{{ mutual_fund.mutual_fund_global }}</a> <span
                        class="badge"></span></div>
                <div class="col-md-2 col-xs-2 col-sm-2"
                     style="text-align:right">{{ mutual_fund.amount|intcomma }}</div>
                <div class="col-md-2 col-xs-2 col-sm-2">{{ mutual_fund.last_transaction_date }}</div>
                <div class="col-md-1 col-xs-1 col-sm-1">

                    <a href="{% url 'portfolioMFDetail' mutual_fund.pk %}">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </a>

                    <a href="{% url 'sipCreate' %}">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </a>

                    <a href="{% url 'portfolioMFEdit' mutual_fund.pk %}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>

                    {% comment %}<a href="{% url 'mfDelete' mutual_fund.pk %}">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </a>{% endcomment %}
                </div>

            </div>
            <br/>
        {% endfor %}
        <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4" style="text-align:right"></div>
            <div class="col-md-2 col-xs-2 col-sm-2" style="text-align:right"><b>Total: </b>{{ total_sum|intcomma }}</div>
            <div class="col-md-2 col-xs-2 col-sm-2"></div>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>
        <br/>
        <div class="fixed-bottom p-2" data-toggle="tooltip" data-placement="top" title="Add to portfolio">
            <a href="{% url 'portfolioMFCreate' %}">
                <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
{% endblock %}