{% extends 'portfolio/base.html' %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-10 col-xs-10 col-sm-10">
                <h3 class="round3" style="text-align:center;">Portfolio</h3>
            </div>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-md-10 col-xs-10 col-sm-10"></div>
            <div class="col-md-2 col-xs-1 col-sm-1">
                <br/>
                <a href="{% url 'mfCreate' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </a>
            </div>
        </div>
        <br/>
        <div class="row">

            <div class="col-md-3 col-xs-3 col-sm-3"><h5>Mutual Fund</h5></div>
            <div class="col-md-2 col-xs-2 col-sm-2" style="text-align:right"><h5>Amount</h5></div>
            <div class="col-md-2 col-xs-2 col-sm-2"><h5>Last Transaction</h5></div>
            <div class="col-md-2 col-xs-2 col-sm-2"></div>
        </div>
        {% for mutual_fund in mf_list %}
            <div class="row">
                <div class="col-md-3 col-xs-3 col-sm-3"><a
                        href="{{ mutual_fund.holdings_url }}">{{ mutual_fund.mf_name }}</a> <span
                        class="badge"></span></div>
                <div class="col-md-2 col-xs-2 col-sm-2"
                     style="text-align:right">{{ mutual_fund.amount|intcomma }}</div>
                <div class="col-md-2 col-xs-2 col-sm-2">{{ mutual_fund.last_transaction_date }}</div>
                <div class="col-md-2 col-xs-2 col-sm-2">

                        <a href="{% url 'mfDetail' mutual_fund.pk %}">
                            <button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-open"></span>
                            </button>
                        </a>

                        <a href="{% url 'sipCreate' %}">
                            <button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-piggy-bank"></span>
                            </button>
                        </a>

                        <a href="{% url 'mfEdit' mutual_fund.pk %}">
                            <button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </a>

                        <a href="{% url 'mfDelete' mutual_fund.pk %}">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </a>
                    </div>

            </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}