{% extends 'portfolio/base.html' %}
{% block title %} Portfolio Re-balance {% endblock %}
{% load humanize %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
    <div class="container-fluid">
        <div class="row" data-toggle="tooltip" data-placement="top" title="New investment plan">
            <div class="col-md-4 col-xs-4 col-sm-4">
                <a href="{% url 'portfolioRebalanceCreate' %}">
                    <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
                    <h5>New Investment Plan</h5>
                </a>
            </div>
        </div>
    <br/>
    <br/>
    <br/>
    <br/>
        <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4">
                <h5>Activities</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2"><h6>Date</h6></div>
            <div class="col-md-2 col-xs-2 col-sm-2"><h6>Amount</h6></div>
        </div>
        {% for re_balance_activity in re_balance_activities %}
            <div class="row">
                <div class="col-md-2 col-xs-2 col-sm-2">{{ re_balance_activity.created_at }}</div>
                <div class="col-md-2 col-xs-2 col-sm-2"><a href="{% url 'portfolioRebalanceActivity' re_balance_activity.re_balance_id %}">{{ re_balance_activity.amount }}</a></div>
            </div>
        {% endfor %}
    </div>


{% endblock %}