{% extends 'portfolio/base.html' %}
{% block title %} Portfolio Re-balance {% endblock %}
{% load humanize %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
    <form method="post">
        {% csrf_token %}
        {{ sip_formset.management_form }}
        {% for sip_form in sip_formset %}
            <div class="sip-formset">

                {{ sip_form.mutual_fund_global }}
                {% if sip_form.mutual_fund_global.errors %}
                    {% for error in sip_form.mutual_fund_global.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}

                {{ sip_form.amount }}
                {% if sip_form.amount.errors %}
                    {% for error in sip_form.amount.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        {% if sip_formset.non_form_errors %}
            {% for error in sip_formset.non_form_errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}
        <input type="submit" value="Plan" class="button"/>
    </form>
    <script>
        $('.sip-formset').formset({
            addText: 'Add SIP',
            deleteText: 'Remove'
        });
    </script>
{% endblock %}