{% extends 'portfolio/base.html' %}
{% block title %} Portfolio Analysis {% endblock %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
            <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4">
                <h5 class="round3" style="text-align:center;">Rebalanced SIPs</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-3 col-sm-3"><h6>Mutual Fund</h6></div>
            <div class="col-md-1 col-xs-1 col-sm-1" style="text-align:right"><h6>Amount</h6></div>
        </div>
        {% for sip in portfoliorebalance.sips.all %}
            <div class="row">
                <div class="col-md-3 col-xs-3 col-sm-3"><a
                        href="{{ mutualfund.mutual_fund_global.holdings_url }}">{{ sip.mutual_fund_global.mf_name }}</a> <i
                        class="fa fa-external-link"
                        aria-hidden="true"></i></div>
                <div class="col-md-1 col-xs-1 col-sm-1" style="text-align:right">{{ sip.amount|intcomma }}</div>
            </div>
        {% endfor %}
        <hr/>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col text-center"><h4>Current SIP Analysis</h4></div>
            <div class="col text-center"><h4>Rebalanced SIP Analysis</h4></div>
        </div>
        <hr/>
        <div class="row">
            <div class="col justify-content-center" id="stock-distribution-container" data-url="{% url 'stockDistribution' %}?type=sip"></div>
            <div class="col justify-content-center" id="rebalance-stock-distribution-container" data-url="{% url 'stockDistribution' %}?type=sipRebalance&rebalance-id={{ portfoliorebalance.pk }}"></div>

        </div>
        <hr/>
        <div class="row">
            <div class="col justify-content-center" id="sector-distribution-container" data-url="{% url 'sectorDistribution' %}?type=sip"></div>
            <div class="col justify-content-center" id="rebalance-sector-distribution-container" data-url="{% url 'sectorDistribution' %}?type=sipRebalance&rebalance-id={{ portfoliorebalance.pk }}"></div>
        </div>
    </div>
    <script>
        $.ajax({
            url: $("#sector-distribution-container").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                Highcharts.chart("sector-distribution-container", data);
            }
        });
        $.ajax({
            url: $("#stock-distribution-container").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                Highcharts.chart("stock-distribution-container", data);
            }
        });
        $.ajax({
            url: $("#rebalance-sector-distribution-container").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                Highcharts.chart("rebalance-sector-distribution-container", data);
            }
        });
        $.ajax({
            url: $("#rebalance-stock-distribution-container").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                Highcharts.chart("rebalance-stock-distribution-container", data);
            }
        });
    </script>
{% endblock %}