{% extends 'portfolio/base.html' %}
{% block title %} SIP details {% endblock %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="row"></div>
        <br/>
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1">
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <h5>{{ mutualfundsip.mutual_fund.mutual_fund_global.mf_name}}</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                <a href="{{ mutualfundsip.mutual_fund.mutual_fund_global.holdings_url }}">View all holdings <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <b>SIP Amount : </b>{{ mutualfundsip.amount|intcomma }}
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <b>Frequency : </b>{{ mutualfundsip.frequency }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <b>SIP start date : </b>{{ mutualfundsip.start_date }}
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <b>Last executed date : </b>{{ mutualfundsip.last_transaction_date }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-4 col-xs-4 col-sm-4">
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <b>Active : </b>{{ mutualfundsip.active }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-2 col-xs-2 col-sm-2">
                <a href="{% url 'sipEdit' mutualfundsip.pk %}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}