{% extends 'portfolio/base.html' %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="row"></div>
        <br/>
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1">
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <h4>{{ mutualfundsip.mutual_fund.mf_name}}</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-6 col-xs-6 col-sm-6">
                <a href="{{ mutualfundsip.mutual_fund.holdings_url }}">View all holdings</a>
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <b>SIP Amount : </b>{{ mutualfundsip.amount|intcomma }}
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <b>Frequency : </b>{{ mutualfundsip.frequency }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <b>SIP start date : </b>{{ mutualfundsip.start_date }}
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <b>Last executed date : </b>{{ mutualfundsip.last_transaction_date }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-xs-7 col-sm-7"></div>
            <div class="col-md-2 col-xs-2 col-sm-2">
                <a href="{% url 'sipEdit' mutualfundsip.pk %}">
                    <button type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </a>
                {% comment %}<a href="{% url 'mfDelete' mutualfund.pk %}">
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </a>{% endcomment %}
            </div>
        </div>
    </div>
{% endblock %}