{% extends 'portfolio/base.html' %}
{% block title %} SIP Analysis {% endblock %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div id="sector-distribution-container" data-url="{% url 'sectorDistribution' %}?type=sip"></div>
        </div>
        <div class="row justify-content-center">
            <div id="stock-distribution-container" data-url="{% url 'stockDistribution' %}?type=sip"></div>
            <div id="popular-stocks-container" data-url="{% url 'popularStocks' %}?type=sip"></div>
        </div>
    </div>
    <script>
        $.ajax({
            url: $("#sector-distribution-container").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                Highcharts.chart("sector-distribution-container", data);
            }
        });
        $.ajax({
            url: $("#stock-distribution-container").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                Highcharts.chart("stock-distribution-container", data);
            }
        });
        $.ajax({
            url: $("#popular-stocks-container").attr("data-url"),
            dataType: 'json',
            success: function (data) {
                Highcharts.chart("popular-stocks-container", data);
            }
        });
    </script>
{% endblock %}