{% extends 'portfolio/base.html' %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4"><h6>Mutual Fund</h6></div>
        </div>
        {% for mutual_fund in mf_list %}
            <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-4">
                    <a href="{% url 'mfDetail' mutual_fund.pk %}">{{ mutual_fund.mf_name }}</a>
                    <span class="badge"></span>
                </div>
            </div>
        {% endfor %}
        <div class="row fixed-bottom p-2" data-toggle="tooltip" data-placement="top" title="Add to Mutual Funds">
            <div class="col-md-4 col-xs-4 col-sm-4"></div>
            <div class="col-md-1 col-xs-1 col-sm-1">
                <a href="{% url 'mfCreate' %}">
                    <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}