{% extends 'portfolio/guest_base.html' %}
{% block title %} User login {% endblock %}
{% block content %}
    <div class="container-fluid h-100 bg-light text-dark">
        <div class="row justify-content-center align-items-center">
            <h3>Big Bucks</h3>
        </div>
        <hr/>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <form method="post">
                    <h5>Login</h5>

                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <ul class='form-errors', style="background-color: pink">
                            {% for error in form.non_field_errors %}
                                <li style="color: red">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% for field in form %}
                        <div class="form-group">
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <button type="submit" class="btn-primary btn">Log in</button>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            Not a member yet? <a href="{% url 'signup' %}">Register now</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}